:root{
    --main-color:#443;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #b94728;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);
}
.heading{
    font-size: 3rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    top:50px;
    position: relative;
}
.choices{
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: 0.7rem 0;
}

label{
    font-size: 1.6rem;
    background:none;
    text-transform: none;
    color:var(--main-color);
}
.profile{
    background:url(../image/book-bg.jpg) no-repeat ;

  
    min-height:120vh;
}
.pickup-choices{    
display: flex;
flex-direction: column;
gap: 1rem;
}
.choices:hover{
    box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
.profile form{
    margin:4rem auto 4rem auto;
    max-width: 45rem;
   height:80vh;
   overflow: scroll;
    border-radius: 5px;
    padding:3rem;
    border:var(--border);
}
.profile form::-webkit-scrollbar{
    width: 0;
}
.profile{
height: 100vh;
}
.profile form .box{
    width:100%;
    padding:1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background:none;
    text-transform: none;
    color:var(--main-color);
    border:var(--border);
    margin:.7rem 0;
}

.profile form .box:focus{
    border:var(--border-hover);
}
.save{
    margin-left: 300px;
}
.sign{
    margin-left:5px;
    font-size: 1.6rem;
    background:none;
    text-transform: none;
    color:var(--main-color);
}
.sign a{
    color:var(--bs-orange)
}
.btn{
    margin-left: 26%;
}
.book form textarea{
    height:10rem;
    resize: none;
}
a{
    color:var(--main-color);
}
header #toggler{
    display: none;
 }
 
 header .fa-bars{
     font-size: 1rem;
     color:#333;
     border-radius: .10rem;
     padding:.1rem .5rem;
     cursor: pointer;
     border:.1rem solid rgba(0,0,0,.3);
     display: none;
 }

@media (max-width:412px){
    html{
        font-size:95%;
    }
    
    section{
        padding:1rem;
    }
    header{
        padding:.1rem;
    }
    header .fa-bars{
        display: inline-block;
    }
    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path:polygon(0 0, 0 0, 0 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        display:block;
    }
    .btn{
        font-size:1rem;
        padding:1rem;
        margin:.1rem .1rem;
     }
    .profile form{
        margin:4rem auto 4rem auto;
        max-width: 24rem;
    }
   
}