footer{
    margin-top:3rem;
    position:relative;
    bottom:0px;
}
.footer{
    
    width:100%;
    height: fit-content;
    background-color:var(--bs-gray-500);
    
}
.footer .box-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:1.5rem;
    margin-left:50px;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:var(--main-color);
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:var(--main-color);
}
.footer .box-container .box a i{
    padding-right: .5rem;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
@media (max-width:412px){
        
 
    .footer .box-container{
        grid-template-columns: 1fr;
       
    }

}